<div id="dash-container">
    <div class="dash" id="sidenav">
    
    </div>
    <div class="dash" id="dash-content">
        <div class="dash-row" id="top-bar">
            <h2>Dashboard</h2ß>
        </div>
        <div class="dash-row" id="favorites">
        </div>
        <div class="dash-row" id="top-stocks">
            <div class="row-card" id="row-card-one"></div>
            <div class="row-card" id="row-card-two"></div>
        </div>
        <div class="dash-row" id="top-news">
            <div class="row-card" id="row-card-three"></div>
            <div class="row-card"id="row-card-four"></div>
        </div>
    </div>

</div>