<div id="dash-container">
    <div class="dash" id="sidenav">
        <ul class="sidebar-ul">
            <div><li class="sidebar-li-links"><a><i class="fa fa-home" aria-hidden="true"></i>Home</a></li></div>
            <div><li class="sidebar-li-links"><a><i class="fa fa-usd" aria-hidden="true"></i>Portfolio</a></li></div>
            <div><li class="sidebar-li-links"><a><i class="fa fa-newspaper-o" aria-hidden="true"></i>News</a></li></div>
            <div><li class="sidebar-li-links"><a><i class="fa fa-info-circle" aria-hidden="true"></i>Help</a></li></div>
        </ul>
    </div>
    <div class="dash" id="dash-content">
        <div class="dash-row" id="top-bar">
            <h2>Dashboard <span>Welcome back, </span></h2>
        </div>
        <div class="dash-row" id="favorites">
            <%= render './partials/top_charts'%>
        </div>
        <div class="dash-row" id="top-stocks">
            <div class="row-card" id="row-card-one">
                <%= render './partials/top_gainers'%>
            </div>
            <div class="row-card" id="row-card-two">
                <%= render './partials/top_losers'%>
            </div>
        </div>
        <div class="dash-row" id="top-news">
            <div class="row-card" id="row-card-three"></div>
            <div class="row-card"id="row-card-four"></div>
        </div>
    </div>

</div>