<div id="dash-container">
    <%= render './partials/side_nav'%>
    <div class="dash" id="dash-content">
        <div class="dash-row" id="top-bar">
            <h2>Dashboard <span>Welcome back, </span></h2>
        </div>
        <div class="dash-row" id="favorites">
            <%= render './partials/top_charts'%>
        </div>
        <div class="dash-row" id="top-stocks">
            <div class="row-card" id="row-card-one">
                <%= render './partials/top_gainers'%>
            </div>
            <div class="row-card" id="row-card-two">
                <%= render './partials/top_losers'%>
            </div>
        </div>
        <div class="dash-row" id="top-news">
            <div class="row-card" id="row-card-three"></div>
            <div class="row-card"id="row-card-four"></div>
        </div>
    </div>

</div>