<div id="dash-container">
    <div class="dash" id="sidenav">
    
    </div>
    <div class="dash" id="dash-content">
        <div class="dash-row" id="top-bar">
            <h2>Dashboard</h2>
        </div>
        <div class="dash-row" id="favorites"></div>
        <div class="dash-row" id="top-stocks"></div>
        <div class="dash-row" id="top-news"></div>
    </div>

</div>