<div class="main-content-container">
    <div class="main-left-col">
        <div class="main-left-col-upper-content">sd</div>
        <div class="main-left-col-lower-content">ds</div>
    </div>
    <div class="main-right-col">
        <div class="main-right-col-content"></div>
        <div class="main-right-col-content"></div>
        <div class="main-right-col-content"></div>
        <div class="main-right-col-content"></div>
    </div>
</div>