<div class="main-content-container">
    <div class="main-left-col">
        <div class="main-left-col-upper-content">
            <div class="main-left-col-upper-content-img">image</div>
            <div class="main-left-col-lower-content-desc">desc</div>
        </div>
        <div class="main-left-col-lower-content">ds
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="main-right-col">
        <div class="main-right-col-content">
            <div class="right-col-images">image</div>
            <div class="right-col-desc">desc</div>
        </div>
        <div class="main-right-col-content">
            <div class="right-col-images">image</div>
            <div class="right-col-desc">desc</div>
        </div>
        <div class="main-right-col-content">
            <div class="right-col-images">image</div>
            <div class="right-col-desc">desc</div>
        </div>
        <div class="main-right-col-content">
            <div class="right-col-images">image</div>
            <div class="right-col-desc">desc</div>
        </div>
    </div>
</div>