<nav class="nav-bar">
    <div class="logo-container">
        <li class="logo-item">
            <a href="#">
                <i class="fa fa-snowflake-o fa-2x" aria-hidden="true"></i>
            </a>
        </li>
    </div>
    <ul class="nav-list">
        <div class="nav-items-container">
            <li class="nav-items">
                <a href="#">Stocks</a>
            </li>
        </div>
        <div class="nav-items-container">
            <li class="nav-items">
                <a href="#">Options</a>
            </li>
        </div>
        <div class="nav-items-container">
            <li class="nav-items">
                <a href="#">Sectors</a>
            </li>
        </div>
        <div class="nav-items-container">
            <li class="nav-items">
                <a href="#">ETFs</a>
            </li>
        </div>
        <div class="nav-items-container">
            <li class="nav-items">
                <a href="#">Indices</a>
            </li>
        </div>
        <div class="nav-items-container">
            <li class="nav-items">
                <a href="#">Porftolio</a>
            </li>
        </div>
        <div class="nav-items-container">
            <li class="nav-items">
                <a href="#">LOGIN</a>
            </li>
        </div>
    </ul>

</nav>