<div class="dash" id="sidenav">
    <ul class="sidebar-ul">
        <div class="sidebar-div-link"><li class="sidebar-li-links"><a href=<%=dashboard_path %>><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a></li></div>
        <div class="sidebar-div-link"><li class="sidebar-li-links"><a href="#"><i class="fa fa-usd" aria-hidden="true"></i>Portfolio</a></li></div>
        <div class="sidebar-div-link"><li class="sidebar-li-links"><a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i>News</a></li></div>
        <div class="sidebar-div-link"><li class="sidebar-li-links"><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>Help</a></li></div>
        <div><li class="sidebar-li-links"><a class="twits" style="font-size:8pt;">StockTwits</a></li></div>

        <% @shortTweets.each do |insert| %>
            <div class="tweets"><li class="sidebar-li-links">
                <li class="twit-thumb" style="background-image: url(<%= insert[:image] %>);
                background-size: cover; background-position: center;"></li>
                <li class="twit-post">
                    <div class="tweet_name"><%= insert[:name] %></div>
                    <br>
                    <div><%= insert[:body] %></div>
                </li>
            </div>
        <% end %>
    </ul>
</div>
