<div class="dash" id="sidenav">
    <ul class="sidebar-ul">
        <div class="sidebar-div-link"><li class="sidebar-li-links"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li></div>
        <div class="sidebar-div-link"><li class="sidebar-li-links"><a href="#"><i class="fa fa-usd" aria-hidden="true"></i>Portfolio</a></li></div>
        <div class="sidebar-div-link"><li class="sidebar-li-links"><a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i>News</a></li></div>
        <div class="sidebar-div-link"><li class="sidebar-li-links"><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>Help</a></li></div>
        <div><li class="sidebar-li-links"><a class="twits" style="font-size:8pt;">StockTwits</a></li></div>
        <div class="tweets"><li class="sidebar-li-links">
            <li class="twit-thumb">Help</li>
            <li class="twit-post">
                <div>NAME</div>
                <br>
                <div>POST</div>
            </li>
        </div>
        <div class="tweets"><li class="sidebar-li-links"><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>Help</a></li></div>
        <div class="tweets"><li class="sidebar-li-links"><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>Help</a></li></div>
    </ul>
</div>
