/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500');
 

/* font-family: 'Work Sans', sans-serif;

 */

body {
    margin: 0 auto;
    /* background: rgba(0,0,0,0.80); */
    width: 100%;
    /* background: black; */
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

/* NAVIGATION */

nav {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo-container {
    padding: 10px;
}

nav i {
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 15px auto;
}

nav a {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-decoration: none;
}

/* HOMEPAGE STOCK BOARD */

.board {
    margin-top: 16px;
    width: 100%;
    display: flex;
    height: 16vh;
    justify-content: space-around;
    align-items: center;
    background: #614385;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
    0 1px 2px rgba(0,0,0,0.24);
}

.quick-info {
    height: 80%;
    width: 20%;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
    0 1px 2px rgba(0,0,0,0.24);
    background: #1CD8D2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93EDC7, #1CD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    display: flex;
    width: 95%;
    margin: 0 auto;
    height: 90%;
    padding: 5px;
    text-align: left;
}

.info-container h2 {
    color: #643498;
}

.info-container h2,
.info-container h4,
.info-container h5 {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
}

.row1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.row2 {
    width: 70%;
}

/* BANNER */

.banner {
    width: 100%;
    background: rgba(0,0,0,0.80);
    color: rgba(250, 250, 250, 0.96);
    text-align: center;
    width: 83%;
    margin: 0 auto;
    font-size: 45pt;
}

/* SIDEBAR NAVIGATION */

#sidenav {
    height: 94vh;
    background: rgba(0, 0, 0, 0.8);
    width: 15%;
    position: fixed;
    padding: 0;
}

.sidebar-ul {
    height: 100%;
    width: 100%;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar-ul li {
    list-style-type: none;
}

.sidebar-ul .sidebar-div-link {
    width: 98%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(250, 250, 250, 0.04);
}

.sidebar-ul .sidebar-div-link:hover {
    background: black;
}

.sidebar-ul li a {
    font-family: 'Work Sans', sans-serif;    
    color: rgba(250, 250, 250, 0.7);
    font-weight: 400;
    font-size: 11pt; 
    letter-spacing: 1px;
    text-decoration: none;
}

.sidebar-ul li i {
    padding-right: 10px;
    font-size: 13pt;
}


.tweets {
    height: 18%;
    display: flex;
    margin-left: 10px;
}

.twit-thumb {
    width: 10%; 
    height: 15%;
    border-radius: 50px;
}

.twit-post {
    width: 70%;
    padding: 2px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    height: 95%;
    white-space: pre-wrap;
    font-family: 'Work Sans', sans-serif;    
    color: rgba(250, 250, 250, 0.7);
    font-weight: 300;
    text-align: left;
    font-size: 10pt;
    background: rgba(250, 250, 250, 0.04);
}

.tweet_name {
    background: #446CB3;
    text-align: center;
    font-weight: 500;
}


/* DASHBOARD */

 #dash-container {
    width: 99.95%;
    height: 100vh;
    margin: 0 auto;
    margin-top: 14px;
    display: flex;
 }


 #dash-content {
     height: 180vh;
     width: 85%;
     position: relative;
     margin-left: 15%;  
        /* background: #2b5876;   */
     /* background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  
     background: linear-gradient(to right, #4e4376, #2b5876);  */
 }

 .dash {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
 }

 .dash-row {
     width: 90%;
     border-radius: 0.3em;
 }

 #favorites {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
    0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
 }

 #favorites .text-bar,
 #favorites .top-charts {
     margin: 0 auto;
     width: 99%;
     justify-content: space-around;
 }

 #favorites .text-bar {
     height: 16%;
     display: flex;
     align-items: center;
 }

 #favorites .top-charts {
     height: 75%;
 }

 #favorites h4 {
    font-family: 'Work Sans', sans-serif;    
    color: rgba(250, 250, 250, 0.7);
    font-weight: 200;
    margin: 0;
    padding: 0;
 }

 #top-bar {
     height: 4%;
 }

 #top-bar h2 {
    font-family: 'Work Sans', sans-serif;    
    color: rgba(250, 250, 250, 0.7);
    font-weight: 200;
 }

 #top-bar span {
    font-family: 'Work Sans', sans-serif;    
    font-weight: 400;
    font-size: 12pt;
 }

 #favorites {
     height: 16%;
     background: rgba(250, 250, 250, 0.1);
     height: 12%;
 }

 .top-charts {
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
 }

 .top-charts a {
     text-decoration: none;
     padding: 5px;
 }

 .top-charts .min-chart {
     height: 80%;
     width: 23%;
     margin-bottom: 2px;
     display: flex;
 }

 .min-chart-info {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     height: 100%;
     width: 35%;
     text-align: center;
 }

 .min-chart-info h3,
 .min-chart-info h4,
 .min-chart-info h5,
 .min-chart-info h6 {
     margin: 0;
     padding: 0;
     font-family: 'Work Sans', sans-serif;    
     color: rgba(250, 250, 250, 0.7);
     font-weight: 200;
    
 }


 .min-chart-graph {
     height: 100%;
     width: 65%;
 }

 

 #top-stocks {
     height: 30%;
     display: flex;
     justify-content: space-between;
 }

 #top-news {
     height: 30%;
     display: flex;
     justify-content: space-between;
 }

 .row-card {
     height: 100%;
     width: 48%;
     background: rgba(250, 250, 250, 0.1);
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
     0 1px 2px rgba(0,0,0,0.24);
     padding: 5px;
 }


 #top-stocks .top-gainers {
     height: 8%;
 }

 #top-stocks .row-card {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }

 #top-stocks .title {
     height: 5%;
 }

 .title {
     display: flex;
     justify-content: space-around;
     align-items: center;
     font-family: 'Work Sans', sans-serif;    
     color: rgba(250, 250, 250, 0.7);
     font-weight: 300;
 }

 #top-title {
    color: rgba(250, 250, 250, 0.7);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 10px;
 }

 .top-gainers {
    color: rgba(250, 250, 250, 0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
 }

 .row-card a,
 .dash-row a {
     text-decoration: none;
 }

 .top-info {
     width: 100px;
     margin-right: 25px;
     font-family: 'Work Sans', sans-serif;
     font-weight: 100;
     text-align: center;
     letter-spacing: 1px;
 }

 #row-card-four {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 #row-card-four .news_thumb {
     height: 15%;
     width: 100%;
     display: flex;
     justify-content: space-around;
 }

 .news_thumb a {
     text-decoration: none;
     color: rgba(250, 250, 250, 0.7);
 }

 .news_title {
     height: 5%;
     margin-top: 5px;
     color: rgba(250, 250, 250, 0.7);
     font-family: 'Work Sans', sans-serif;
     font-weight: 300;
     text-align: center;
 }

 .article_thumb {
    height: 100%;
    width: 20%
 }

 .article_headline {
    height: 100%;
    width: 70%;
    color: rgba(250, 250, 250, 0.7);
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
 }

 /* SINGLE RENDERED PAGES */

 .layout {
     border: 2px solid orange;
     width: 85%;
     margin-left: 15%;
     height: 90%;
     margin-top: 1%;
     display: flex;
     color: rgba(250, 250, 250, 0.7);
     font-family: 'Work Sans', sans-serif;
     font-weight: 200;
 }

 /* LEFT BOX */

 .left-box {
     width: 50%;
 }

 .left-box-top {
     border-bottom: 0.5px solid rgba(250, 250, 250, 0.7);
     height: 30%;
     display: flex;
     align-items: center;
 }

 .left-box-top h1 {
     font-size: 100pt;
     font-weight: 100;
     margin: 0;
     padding: 0;
 }

 .left-box-top h3 {
    font-size: 20pt;
    font-weight: 100;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.left-box-top h5 {
    font-size: 12pt;
    font-weight: 100;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.lbt-left {
    width: 50%;
}

.lbt-right {
    width: 50%;
}

 .left-box-bottom {
     height: 70%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-around;
 }

 .key_stat {
     height: 4%;
     width: 32%;
     font-weight: 300;
     font-size: 11pt;
     letter-spacing: 1px;
 }

 /* RIGHT BOX */

 .right-box {
    border-left: 0.5px solid rgba(250, 250, 250, 0.7);
     width: 50%;
     display: flex;
     flex-direction: column;
 }

 .price {
     height: 30%;
     border: 2px solid blue;
     text-align: center;
 }

 .price h1 {
    color: rgba(250, 250, 250, 0.7);
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 60pt;
    margin: 0;
    padding: 2px;
 }

 .price h2 {
    color: rgba(250, 250, 250, 0.7);
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 30pt;
    margin: 0;
    padding: 2px;
 }

 .price h3 {
    color: rgba(250, 250, 250, 0.7);
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 15pt;
    margin: 0;
    padding: 2px;
 }

 .financials {
    height: 60%;
    border: 2px solid orange;
}